@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');

body {
    background-color: var(--primary-color);
}

/* Configurando a imagem de fundo (padrão) */
body::before {
    content: "";
    background-image: url('/assets/img/spider-man-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    transition: background-image 1s ease-in-out, opacity 1s ease-in-out;
}

.menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    align-items: center;
}

.menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.menu_icon {
    width: 2.5rem;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    perspective: 3000px;
}

.cards-carousel {
    display: flex;
    justify-content: center;
    width: calc(100vw / 3 - 10%);
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.card {
    border: 0.5rem solid white;
    width: 100%;
    height: 70vh;
    position: absolute;
    transition: filter .5s ease-in-out;
}

.card:nth-child(1) {
    transform: rotateY(0deg) translateZ(50vw);
}

.card:nth-child(2) {
    transform: rotateY(120deg) translateZ(50vw);
}

.card:nth-child(3) {
    transform: rotateY(240deg) translateZ(50vw);
}

.card_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity .5s ease;
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: transform .5s ease;
    /* z-index: 2; */
}

.card_title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: bottom 1s ease;
}

.controller {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3.75rem;
    bottom: 1.5rem;
    width: 100%;
}

.controller_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.controller_button:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    color: var(--primary-color);
}

.controller_button--active {
    transform: scale(1.1);
    background-color: #ffffff;
    color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    outline: 0.125rem solid white;
}

.controller_line {
    background-color: white;
    width: 50%;
    height: 2px;
    position: absolute;
    z-index: -1;
}

/* Cards hover - modificando o background do card o qual o mouse passou sobre*/
.card__hovered .card_background {
    cursor: pointer;
    opacity: 0;
}

/* Cards hover - modificando a imagem do card o qual o mouse passou sobre*/
.card__hovered .card_image {
    transform: scale(1.4);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}

.card__hovered .card_title {
    bottom: 50%;
}


/* Alterando o background conforme o card que está com hover */
body#cardTM__hovered::before {
    background-image: url('/assets/img/pic-sm-bg-01.jpg');
}

body#cardTH__hovered::before {
    background-image: url('/assets/img/pic-sm-bg-02.jpg');
}

body#cardAG__hovered::before {
    background-image: url('/assets/img/pic-sm-bg-03.jpg');
}

/* Seletor para selecionar elemento que começa com a string especificada */
body[id^="card"]::before {
    opacity: 1;
}

/* Alterando a coloração dos cards que não estão com hover */
body[id^="card"] .card:not(.card__hovered) {
    filter: grayscale(100%);
}

