@import url('reset.css');
@import url('global.css');
@import url('./components/navigator.css');
@import url('./components/pills.css');

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

.wrapper .left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 50px;
    z-index: 1;
}

.wrapper .main-content {
    width: 100%;
    height: 100%;
    padding-left: 130px;
    background-color: rgb(123, 123, 123);
}

.wrapper .main-content-top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper .main-content-bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper .main-content-top .logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.wrapper .main-content-top .description {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.435);
    padding: 2rem;
    border-radius: 12px;
    
}

