@import url('reset.css');
@import url('global.css');
@import url('./components/navigator.css');
@import url('./components/pills.css');
@import url('./components/link-button.css');
@import url('./components/gallery.css');

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

.wrapper .left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 50px;
    z-index: 1;
}

.wrapper .main-content {
    width: 100%;
    height: 100%;
    padding-left: 130px;
    background-color: rgb(123, 123, 123);
}

.wrapper .main-content-top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrapper .main-content-bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.wrapper .main-content-top .logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.wrapper .main-content-top .description {
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    
}

.wrapper .main-content-top .description .pills {
    margin-bottom: 20px;
}

.wrapper .main-content-top .description .description-text p {
    color: white;
    line-height: 170%;
}

.wrapper .main-content-top .links ul {
    display: flex;
    margin-top: 1rem;
}

.gallery {
    margin-bottom: 3rem;
}


/* Classes para cada filme de cada Spider-Man */
.spiderman-tobey-01 {
    background-image: url('../img/spiderman-tobey/movie-01/background.png');
    background-size: cover;
}

.spiderman-tobey-02 {
    background-image: url('../img/spiderman-tobey/movie-02/background.png');
    background-size: cover;
}

.spiderman-tobey-03 {
    background-image: url('../img/spiderman-tobey/movie-03/background.png');
    background-size: cover;
}

.spiderman-tom-01 {
    background-image: url('../img/spiderman-tom/movie-01/background.png');
    background-size: cover;
}

.spiderman-tom-02 {
    background-image: url('../img/spiderman-tom/movie-02/background.png');
    background-size: cover;
}

.spiderman-tom-03 {
    background-image: url('../img/spiderman-tom/movie-03/background.png');
    background-size: cover;
}

.spiderman-andrew-01 {
    background-image: url('../img/spiderman-andrew/movie-01/background.png');
    background-size: cover;
}

.spiderman-andrew-02 {
    background-image: url('../img/spiderman-andrew/movie-02/background.jpg');
    background-size: cover;
}