a.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

a.link-button .icon {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: var(--primary-color);
    border: 1px solid white;
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link-button .icon .play-icon {
    border: 7px solid white;
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -8px;
}

a.link-button .label {
    margin-left: 10px;
}